# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
env/
venv/
.venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore SQLite database
db.sqlite3


# ignore the folder itself
firebase_config

# Ignore Firebase service account key (VERY IMPORTANT)
serviceAccountKey.json

# Ignore logs and temporary files
*.log
*.bak
*.swp
